@charset "utf-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
html,body {
    font-size: 100%;
    width: 100%;
    height: auto;
    line-height: 1.5;
    letter-spacing: 1;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1 {
    font-size: 36px;
    text-align: center;
    margin: 110px 0 38px 0;
}
/*-------------------------------------
header
-------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    position: fixed;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1;
}
/*-------------------------------------
nav
-------------------------------------*/
.burger {
    display: block;
    width: 30px;
    height: 22px;
    position: relative;
}
.menu {
    opacity: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.85);
    color: #fff;
    background-color: #121212;
    z-index: 10;
    padding: 50px 20px;
    width: 50%;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.menu.is-active {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}
.menu h3 {
    font-size: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    font-weight: normal;
    text-align: center;
    padding: 10px;
}
.menu h3 a {
    color: #121212;
    display: block;
    width: 100%;
    height: 100%;
}
.menu .home {
    padding: 10px 0;
}
.menu-list {
    margin-bottom: 40px;
}
.menu-list li {
    border-top: solid 1.5px #fff;
    padding: 20px 0;
}
.menu-list li:last-of-type {
    border-bottom: solid 1.5px #fff;
}
.social-links li {
    padding: 10px 0;
}
nav ul a {
    color: #fff;
}
.burger span {
    display: block;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    border-radius: 2px;
}
.bg-black.is-active {
   opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
}
.bg-black {
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.menu,
.bg-black {
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.menu.is-active,
.bg-black.is-active {
  opacity: 1;
}

/*-------------------------------------
key-visual
-------------------------------------*/
.key-visual video {
    width: 100%;
    padding-top: 80px;
}
/*-------------------------------------
pick-up
-------------------------------------*/
.pick-up ul {
    display: flex;
    overflow-x: auto;  
    gap: 60px; 
    scroll-snap-type: x mandatory;
}
.pick-up li img {
    width: 360px;
    height: 240px;
}
/*-------------------------------------
feature
-------------------------------------*/
.feature {
    padding: 0 20px 50px 20px;
}
.feature-inner {
    margin: 0 auto;
    max-width: 1150px;
}
.feature .product-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}
.feature .product-list li {
    border: solid 1px #CCCCCC;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.feature .product-list img {
   width: 100%;
   opacity: 0;
   transform: translateY(30px); 
   transition: all 0.6s ease;
}
.product-list img.show {
    opacity: 1;
    transform: translateY(0);
}
.feature .product-list h4 {
    color: #121212;
    font-size: 12px;
    padding: 31px 31px 24px 31px;
}
.feature .product-list p:first-of-type {
    font-size: 14px;
    color: #121212;
    padding: 0 31px 41px 31px;
}
.feature .product-list p:last-of-type {
    font-size: 12px;
    color: #121212;
    padding: 0 31px 28px 31px;
    text-align: right;
}
/*-------------------------------------
contact
-------------------------------------*/
#contact {
    background-color: #121212;
    padding: 60px 20px 94px 20px;
}
#contact .wrapper {
    margin: 0 auto;
    color: #fff;
    max-width: 1150px;
}
#contact h1 {
    margin: 0;
}
#contact .content {
    display: flex;
    gap: 100px;
    padding-top: 40px;
}
#contact .contact-left {
    width: 50%;
    font-size: 14px;
}
#contact .contact-left p:first-of-type {
    padding-bottom: 36px;
}
#contact .contact-left p:last-of-type {
    padding-top: 28px;
}
#contact .contact-right {
    width: 50%;
}
#contact form {
    display: flex;
    flex-direction: column;
}
.contact-form label {
    font-size: 14px;
}
#contact #name,
#contact #email {
    height: 44px;
}
.contact-form input,
.contact-form textarea {
    margin-bottom: 23px;
}
#contact button {
    width: 200px;
    height: 45px;
    background-color: #121212;
    color: #fff;
    border: solid 1px #fff;
}
#contact button:hover {
    color: #121212;
    background-color: #fff;
}
.contact-form {
    position: relative;
    z-index: 1000;
    pointer-events: auto; 
}
/*-------------------------------------
footer
-------------------------------------*/
#footer {
    background-color: #121212;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-bottom: 12px;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 650px) {
    h1 {
        font-size: 24px;
    }
    .menu {
        width: 80%;
    }
    .key-visual video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        display: block;
        padding-top: 80px;
    }
    .pick-up li img {
        width: 235px;
        height: 156px;
    }
    .feature .product-list {
        flex-direction: column;
        display: flex;
    }
    #contact .content {
        flex-direction: column;
        gap: 39px;
    }
    #contact .contact-left {
        width: 100%;
    }
    #contact .contact-right {
        width: 100%;
    }
    #contact button {
        width: 100%;
    }
    
}

